        * {
            margin: 0;
            padding: 0;
            font-family: 'Arima', cursive;
            font-family: 'Finlandica', sans-serif;
            font-family: 'Gulzar', serif;
            font-family: 'Lobster', cursive;
            font-family: 'Montserrat', sans-serif;
            font-family: 'Nunito', sans-serif;
            font-family: 'Poppins', sans-serif;
        }
        /* Header seciton  */
        
        header {
            background: linear-gradient(90deg, #1A1A1A -0.7%, rgba(26, 26, 26, 0) 100%), url("images/Rectangle\ 1.png");
            background-size: cover;
            width: 100%;
            height: 100vh;
        }
        
        .head_text {
            text-align: left;
            padding-top: 13%;
            padding-left: 12%;
        }
        
        .head_text h1 {
            font-size: 45px;
            padding: 20px 0;
            color: white;
        }
        
        .head_text p {
            width: 500px;
            padding-bottom: 20px;
            color: darkgrey;
        }
        
        .head_text input {
            padding: 13px 20px;
            font-weight: 600;
            border-radius: 5px;
            background-color: red;
            color: white;
            cursor: pointer;
            border: none;
            box-shadow: 0 0px 5px;
        }
        
        .head_text input:hover {
            transform: translateY(-5px);
        }
        /* Desctiption  */
        
        .head_text .hed {
            color: #1A1A1A;
        }
        
        .head_text .para {
            color: rgb(39, 41, 35);
        }
        
        main {
            display: flex;
            margin-top: 10%;
        }
        
        #relative {
            position: relative;
        }
        
        #absolute {
            position: absolute;
            padding-left: 0;
        }
        
        main article img {
            margin-top: 15%;
            box-shadow: 0 0 10px;
            border-radius: 10px;
        }
        
        main article {
            width: 40%;
        }
        
        .second_img {
            margin-left: 13%;
        }
        
        #article {
            padding-left: 0%;
        }
        /* Direct help  */
        
        #third_heading {
            text-align: center;
            margin-top: 10%;
        }
        
        #third_heading h1 {
            font-size: 45px;
            padding: 20px 0;
            width: 40%;
            margin-left: 30%;
        }
        
        #third_heading p {
            width: 60%;
            margin-left: 20%;
            margin-bottom: 7%;
        }
        
        .direct {
            display: flex;
            margin-left: 20%;
        }
        
        .direct>div {
            display: flex;
            width: 40%;
            background-color: antiquewhite;
            margin-right: 2%;
            margin-bottom: 2%;
            padding: 20px 10px;
            border-radius: 8px;
            box-shadow: 0 0 10px;
        }
        
        .direct>div img {
            padding: 10px;
        }
        /* Some photos  */
        
        .photos {
            width: 80%;
            margin-left: 20%;
            margin-top: 10%;
            justify-content: space-between;
        }
        
        .photos img {
            width: 25%;
            height: 70%;
            margin-left: 10px;
            box-shadow: 0 0 10px;
            border-radius: 8px;
        }
        /* Extend section  */
        
        .extend_hand {
            text-align: center;
            width: 50%;
            margin-left: 400px;
            margin-top: 10%;
        }
        
        .extend_hand h1 {
            font-size: 40px;
        }
        
        .extend_blogs {
            width: 90%;
            margin-left: 5%;
        }
        
        .fund {
            width: 30%;
            margin-left: 2%;
            background-color: antiquewhite;
            padding: 20px 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px;
        }
        
        .fund h1 {
            padding: 10px;
        }
        
        .fund p {
            padding: 10px;
            margin-bottom: 20px;
        }
        
        .fund a {
            margin: 10px 10px;
            color: red;
            margin-bottom: 20px;
        }
        /* Footer  */
        
        footer {
            background-color: black;
            text-align: center;
            margin-top: 10%;
            padding: 30px;
        }
        
        footer h1 {
            color: red;
            font-family: 'Lobster', cursive;
        }
        
        footer p {
            color: azure;
            font-family: 'Nunito', sans-serif;
        }